EDGE_SERVER_NAMES=monkey-island-vpn.com www.monkey-island-vpn.com
EDGE_CERT_NAME=monkey-island-vpn.com
EDGE_ORIGIN_UPSTREAM=http://ORIGIN_IP_OR_DOMAIN

LETSENCRYPT_EMAIL=admin@example.com
CF_DNS_API_TOKEN=replace-me
EDGE_CERTBOT_DOMAINS=monkey-island-vpn.com,www.monkey-island-vpn.com
CF_DNS_PROPAGATION_SECONDS=30
